@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
body {
    background-color: hsl(233, 47%, 7%);
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 14px;    
    margin-bottom: 10em;
    line-height: 1.5;
}
h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;    
    margin-bottom: 1em;    
}
img{
    display: block;
    border-radius: 5px;
    filter: sepia(5%) saturate(3500%) hue-rotate(244deg);
}
.container{    
    display: flex;
    justify-content: center;
    position: absolute;
    left: 25%;
    margin-left: -25px;
    top: 25%;
    margin-top: -50px;
    font-family: 'Inter', 'Lexend Deca', sans-serif;
    background-color: hsl(244, 38%, 16%);
    border-radius: 5px;
}
.description{
    margin: 2em 5em;

}
.stat-headings{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: hsla(0, 0%, 100%, 0.6);
    margin-left: none;
}
.stat-values{
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}